# ===============================
# 👨‍💻 Android Studio 项目忽略文件
# ===============================

# Android Studio 工作区设置
.idea/
*.iml

# Gradle 自动生成的缓存文件
.gradle/
build/
*/build/

# 本地 SDK 路径设置（每台机器不同）
local.properties

# 日志、临时文件
*.log

# Mac 系统自带垃圾文件
.DS_Store

# Windows 系统缩略图文件
Thumbs.db

# 编译输出 APK
*.apk
*.ap_

# 快速备份文件
*.bak
*.tmp
